# The Engineering WOrld - A Place For Learning And Exploring

## Categorical Data

Standard imports

In [1]:
import numpy as np
import scipy.stats
import pandas as pd

In [2]:
import matplotlib
import matplotlib.pyplot as pp

import pandas.plotting

from IPython import display
from ipywidgets import interact, widgets

%matplotlib inline

In [3]:
import re
import mailbox
import csv

In [4]:
smoking = pd.read_csv('whickham.csv')

In [5]:
smoking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1314 entries, 0 to 1313
Data columns (total 3 columns):
outcome    1314 non-null object
smoker     1314 non-null object
age        1314 non-null int64
dtypes: int64(1), object(2)
memory usage: 30.9+ KB

In [6]:
smoking.head()

  outcome smoker  age
0   Alive    Yes   23
1   Alive    Yes   18
2    Dead    Yes   71
3   Alive     No   67
4   Alive     No   64

In [7]:
pd.DataFrame(smoking.smoker.value_counts())

     smoker
No      732
Yes     582

In [8]:
pd.DataFrame(smoking.outcome.value_counts())

       outcome
Alive      945
Dead       369

In [9]:
pd.DataFrame(smoking.outcome.value_counts(normalize=True))

        outcome
Alive  0.719178
Dead   0.280822

In [10]:
bysmoker = smoking.groupby("smoker").outcome.value_counts(normalize=True)
bysmoker

smoker  outcome
No      Alive      0.685792
        Dead       0.314208
Yes     Alive      0.761168
        Dead       0.238832
Name: outcome, dtype: float64

In [11]:
bysmoker.index

MultiIndex(levels=[['No', 'Yes'], ['Alive', 'Dead']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['smoker', 'outcome'])

In [12]:
bysmoker.unstack()

outcome     Alive      Dead
smoker
No       0.685792  0.314208
Yes      0.761168  0.238832

In [13]:
smoking['ageGroup'] = pd.cut(smoking.age,[0,30,40,53,64], labels=['0-30','30-40','40-53','53-64'])

In [14]:
smoking['ageGroup'].head()

0     0-30
1     0-30
2      NaN
3      NaN
4    53-64
Name: ageGroup, dtype: category
Categories (4, object): [0-30 < 30-40 < 40-53 < 53-64]

In [15]:
smoking['age'].head()

0    23
1    18
2    71
3    67
4    64
Name: age, dtype: int64

In [16]:
byage = smoking.groupby(['ageGroup','smoker']).outcome.value_counts(normalize=True)

In [18]:
byage.unstack().drop("Dead", axis=1)

outcome             Alive
ageGroup smoker
0-30     No      0.981818
         Yes     0.975610
30-40    No      0.955224
         Yes     0.940678
40-53    No      0.876106
         Yes     0.802395
53-64    No      0.669291
         Yes     0.580645